{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}

<form method="POST">
  <input type="text" id="shop" name="shop" />
  <button type="submit">Login</button>
</form>

{% endblock %}
